.profilerContainer {
  padding: 10px;
  padding-right: 35px;
  max-width: 1020px;

  :global(.profilerButton) {
    background-color: #f7f3ed;
    border-radius: 3px;
  }
}
.profilerHeader {
  margin-top: 0;
}
.profilerDescription {
  font-weight: bold;
  font-size: 18px;
  max-width: 700px;
}
.profilerModuleContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  :global(.profilerModule) {
    border: 1px solid black;
    border-radius: 3px;
    min-width: 300px;
    min-height: 500px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    padding: 10px;
  }
}