.loginModal {
  padding: 0 10px 15px;
}
.header {
  text-align: center;
}
.loginButtonContainer {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.loginButton {
  border-radius: 10px;
  background-color: #3ab73a;
  padding: 10px 15px;
  color: white;
  text-decoration: unset;
}