.childDepthSection {
  margin-bottom: 30px;
}
.childDepthHeader {
  margin-bottom: 10px;
}
.selectColumn {
  display: flex;
  flex-direction: column;
}

.checkboxContainer {
  display: block;
}
.optimizationLabel {
  cursor: pointer;
  font-weight: bold;
}
.optimizationCheckBox {
  margin-right: 10px;
}