.childDepthSection {
  margin-bottom: 30px;
}
.childDepthHeader {
  margin-bottom: 10px;
}
.selectColumn {
  display: flex;
  flex-direction: column;
}
.prefetchRelatedLabel {
  font-weight: bold;
}
.prefetchRelatedCheckBox {
  margin-left: 10px;
}